/* .dashConatiner {
  padding: 20px;
  margin-top: 40px;
}

.upload {
  border-radius: 25px;
}
.save {
  border-radius: 5px;
}
.dashboard {
  background-color: #0b3e98;
}
.header {
  background-color: #083686;
  color: white;
  height: 110px;
  position: relative;
}

.card {
  min-width: 79vw;
  border: none;
  margin-top: -10px;
}

.middle {
  height: 332px;
}

.select {
  margin-top: 53px;
  width: 179px;
  border-radius: 14px;
  border-style: none;
}

.textBox {
  width: 150px;
  margin-top: 53px;
  margin-right: 90px;
  border-radius: 14px;
  border-style: none;
  padding: 6px 0 6px 2px;
}
.colleft {
  margin-right: -100px;
}
.colright {
  margin-top: 35px;
  position: relative;
  right: -13.4rem;
  font-size: 10px;
}
.colright h4 {
  font-weight: 600;
}

.rightbuttonupload {
  position: absolute;
  width: 119px;
  height: 41px;
  right: 151px;
  margin-top: 28px;

  border-radius: 15px;
  line-height: 15px;
  font-weight: 400;
}
.rightbuttonSave {
  width: 119px;
  height: 41px;
  position: absolute;
  right: 22px;
  margin-top: 28px;
  border-radius: 15px;
  font-weight: 500;
} */

.dashBoardContainer {
  width: 80%;
  height: 80%;
  background-color: aqua;
}
