.navbar {
  width: 280px;
  height: 100vh;
  background-color: #042459;
}

.navbarContainer {
  margin-left: 20px;
}

.links {
  min-width: 273px;
  padding: 15px 0px 15px 0px;
  text-align: left;
  font-family: segoe ui;
  color: #c1c9d3;
  font-size: 16px;
}

.img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.logo {
  width: 214px;
  height: 69px;
  margin: 10px 0px 10px 0px;
}
